div{
    height: 10em;
    width: 10em;
    background-color: darkorange;
    position: relative;
    top: 8em;
    left: 8em;
    border-radius: 10%;
    animation-name: bob;
    animation-fill-mode: both;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes bob{
    50%{
        transform: translateX(350px) rotate(360deg); 
        background-color:  lightseagreen;
    }
    to{
        background-color:  forestgreen;

    }
}